.settings-button {
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 32px;
    transition: all .2s cubic-bezier(.4,0,.2,1),box-shadow .2s cubic-bezier(.4,0,1,1),-webkit-box-shadow .2s cubic-bezier(.4,0,1,1);
    border-radius: 50%;
    height: 46px;
    color: rgba(255, 255, 255, .87);
}

.settings-button:hover {
    background-color: rgba(0,0,0,.1)
}

.logout-button {
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 32px;
    transition: all .2s cubic-bezier(.4,0,.2,1),box-shadow .2s cubic-bezier(.4,0,1,1),-webkit-box-shadow .2s cubic-bezier(.4,0,1,1);
    border-radius: 50%;
    height: 46px;
    color: rgba(255, 255, 255, .87);
}

.logout-button:hover {
    background-color: rgba(0,0,0,.1)
}

.settings-form{
    min-height: 400px;
    height: auto;
    width: 400px;
    position: fixed;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    /*backdrop-filter: blur(10px);*/
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 20px 35px 40px;
    padding-left: 15px;
    display: none;
    background-color: #29303a!important;
}
.settings-form *{
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.settings-form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    padding-left: 20px;
}

.settings-form label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.settings-form input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.settings-form .submit-button{
    margin-top: 50px;
    margin-left: 10px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.settings-form .delete-button{
    margin-top: 30px;
    margin-left: 10px;
    width: 100%;
    background-color: #ed5e68;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}